.auth-page{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
  position:relative;
  overflow:hidden;

  background:var(--background-color);
  color:var(--text-color);
}

/* CARD */

.auth-box{
  position:relative;
  overflow:hidden;

  width:100%;
  max-width:400px;

  padding:40px 35px;

  border-radius:24px;

  background:var(--card-color);

  border:1px solid var(--border-color);

  box-shadow:0 10px 30px rgba(0,0,0,.15);

  backdrop-filter:blur(15px);

  transition:.8s;
}

/* TITLE */

.auth-box h1{
  color:var(--text-color);
  font-size:3rem;
  margin-bottom:30px;
  font-weight:700;
}

/* INPUT */

.auth-box input{

  width:100%;

  padding:14px 16px;

  margin-bottom:18px;

  border-radius:14px;

  border:1px solid var(--border-color);

  background:transparent;

  color:var(--text-color);

  font-size:1rem;

  outline:none;

  transition:.3s;
}

.auth-box input::placeholder{
  color:#9ca3af;
}

.auth-box input:focus{

  border-color:#2563eb;

  box-shadow:0 0 10px rgba(37,99,235,.25);

}

/* BUTTON */

.auth-btn{

  width:100%;

  padding:14px;

  border:none;

  border-radius:14px;

  background:#2563eb;

  color:white;

  font-size:1rem;

  font-weight:600;

  cursor:pointer;

  transition:.3s;

}

.auth-btn:hover{

  background:#1d4ed8;

  transform:translateY(-2px);

}

/* TEXT */

.auth-text{

  margin-top:18px;

  color:var(--text-color);

  opacity:.8;

  font-size:.95rem;

}

.auth-text span{

  color:#2563eb;

  font-weight:600;

  cursor:pointer;

}

.auth-text span:hover{

  text-decoration:underline;

}

/* TOP LINE */

.auth-box::before{

  content:"";

  position:absolute;

  top:0;

  left:-100%;

  width:200%;

  height:3px;

  background:linear-gradient(
    90deg,
    transparent,
    #2563eb,
    transparent
  );

  animation:moveLine 6s linear infinite;

}

/* ANIMATION */

@keyframes moveLine{

  0%{
    left:-100%;
  }

  100%{
    left:100%;
  }

}