/* PRODUCT CARD */

.product-card{

  background:var(--card-color);

  border-radius:28px;

  overflow:hidden;

  width:320px;

  border:1px solid var(--border-color);

  box-shadow:0 0 30px rgba(37,99,235,.12);

  transition:.3s ease;

  display:flex;

  flex-direction:column;

}

/* HOVER */

.product-card:hover{

  transform:translateY(-5px);

}

/* IMAGE */

.product-card img{

  width:100%;

  height:200px;

  object-fit:cover;

  display:block;

}

/* INFO */

.product-info{

  padding:24px;

}

.product-info h3{

  font-size:1.5rem;

  font-weight:400;

  line-height:1.1;

  margin-bottom:16px;

  color:var(--text-color);

}

.product-info p{

  color:#2563eb;

  font-size:1.5rem;

  font-weight:bold;

  margin-bottom:26px;

}

/* BUTTON */

.product-info button{

  width:100%;

  padding:18px;

  border:none;

  border-radius:16px;

  background:var(--button-color);

  color:white;

  font-size:1.3rem;

  font-weight:400;

  cursor:pointer;

  transition:.3s;

}

.product-info button:hover{

  background:var(--button-hover);

}

.product-card button{

  padding:20px 40px;

  font-size:1.1rem;

  width:auto;

}

.products-grid{

  display:flex;

  gap:30px;

  flex-wrap:wrap;

}

/* MOBILE */

@media(max-width:768px){

.product-card{

width:100%;

}

.product-card img{

height:260px;

}

}