.footer{
  width:100%;
  background:var(--footer-color);
  color:var(--text-color);

  padding:30px 50px;

  border-top:1px solid var(--border-color);

  transition:.3s ease;
}

.footer-logo{
  margin-bottom:15px;
}

.footer-logo h2{
  color:#2563eb;
  font-size:2rem;
  font-weight:700;
}

.footer-content{
  display:flex;
  align-items:center;
  gap:115px;
  flex-wrap:wrap;
}

.footer-content p{
  color:var(--text-color);
  margin:0;
}

.footer-links{
  display:flex;
  gap:25px;
}

.footer-links a{
  color:var(--text-color);
  text-decoration:none;
  transition:.3s ease;
}

.footer-links a:hover{
  color:#2563eb;
}

.footer-copy{
  margin-left:auto;
}

/* Mobile */

@media(max-width:768px){

.footer-content{

flex-direction:column;

align-items:flex-start;

gap:15px;

}

.footer-copy{

margin-left:0;

}

}