body {
  background: #070d21 ;

}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  overflow-x:hidden;
  font-family:sans-serif;
}
/* ---------- LIGHT THEME ---------- */

body.light{
  --background-color:#f8fafc;
  --card-color:#ffffff;
  --text-color:#111827;
  --primary-color:#2563eb;
}

/* ---------- DARK THEME ---------- */

body.dark{
  --background-color:#070d21;
  --card-color:#0b1638;
  --text-color:#ffffff;
  --primary-color:#1e3a8a;
}